
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutIndex.cshtml";
}
<h1 class="m-3 text-center text-primary">Admin pohled</h1>

@*<div>
        <a href="@Url.Action("Vypis","Home")">Vypis</a>
    </div>*@