@model DataAccess1.Model.Item
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_LayoutWithout.cshtml";
}

<h2>Detail Polozky  @Model.Name</h2>



<p>
    Vyrobce: @Model.Producer
</p>

<p>
    Rok: @Model.YearProduct
</p>


<p>
    Popis: @Html.Raw(Model.Description)
</p>

